/* Name BG with theme's name : i.e. : dark-MyTheme-BG */

.light-cimentDM-BG {
  /* The image used */
  background-image: url('../../assets/ThemeBackground/cimentLightWallpaper.jpg');
  /* Full height */
  // height: 100%;
  /* Full width */
  // width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  // background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.dark-cimentDM-BG {
  /* The image used */
  background-image: url('../../assets/ThemeBackground/cimentDarkWallpaper.jpg');
  /* Full height */
  // height: 100%;
  /* Center and scale the image nicely */
  // background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
