/* Name BG with theme's name : i.e. : dark-MyTheme-BG */

.light-cimentDM-BG {
  background-image: url('../../assets/ThemeBackground/cimentLightWallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dark-cimentDM-BG {
  background-image: url('../../assets/ThemeBackground/cimentDarkWallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
