.home {
  &__jobTitle {
    &--loading {
      opacity: 0;
      animation: blinking 3s ease-in-out 1s;
    }
    &--name {
      opacity: 0;
      animation: fadeIn 500ms ease-in 4s forwards;
    }
  }
  &__bar {
    &--progress {
      animation: linearGrowUpX 2s ease-in-out forwards;
    }
  }
  &__logo {
    opacity: 0;
    animation: fadeIn 500ms ease-in 4s forwards;
  }
}
