@for $project-nb from 1 to 10 {
  .project__card--#{$project-nb} {
    opacity: 0;
    animation: fadeIn;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: ($project-nb * 100)+0ms;
  }
}
