@for $summury-nb from 0 to 5 {
  .profile__summury--#{$summury-nb} {
    opacity: 0;
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: ($summury-nb * 100)+0ms;
  }
}
